body {
    background-color: #007D76;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form {
    border: 2px solid #E8E8E8;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 20px;
    background-color: #B5BEB2;
}
input {
    display: block;
    margin-bottom: 10px;
}

.popup {
    position: absolute;
    border: 4px solid #E8E8E8;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    padding: 20px;
    background-color: #B5BEB2;
    display: none;
}

#closePopup {
    margin-top: 5px;
} 